@model List<Category>
<div class="intro-title d-flex justify-content-between">
    <h5>Kategoriler</h5>
    <i class="icon-arrow-down" aria-hidden="true"></i>
</div>
<div class="mail-list mt-4">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item">
            <span class="icon-warning">
                <i class="fa fa-circle" aria-hidden="true"></i>
            </span>
            @item.CategoryName
        </a>
    }
   

</div>