
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_WriterLayoutHeadComponentPartial")

<body>

    <div id="main-wrapper">

        @await Component.InvokeAsync("_WriterLayoutNavHeadComponentPartial")

        @await Component.InvokeAsync("_WriterLayoutHeaderComponentPartial")

        @await Component.InvokeAsync("_WriterLayoutSideBarComponentPartial")

       @*  <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12"> *@
                        @RenderBody()
             @*        </div>
                </div>
            </div>
        </div> *@

        @await Component.InvokeAsync("_WriterLayoutFooterComponentPartial")

    </div>
    @await Component.InvokeAsync("_WriterLayoutScriptComponentPartial")

</body>

</html>