﻿<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Menü</li>

            <li>
                <a href="/Profile/MyProfile" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Profilim</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-layout-24"></i><span class="nav-text">Chat</span>
                </a>
            </li>
            <li>
                <a href="#" aria-expanded="false">
                    <i class="icon icon-layout-25"></i><span class="nav-text">Mail</span>
                </a>
            </li>     
            <li>
                <a href="/Profile/LogOut" aria-expanded="false">
                    <i class="icon-key"></i><span class="nav-text">Çıkış</span>
                </a>
            </li>

        </ul>
    </div>
</div>