
<div class="mail-list mt-4">
    <a href="/GmailMessage/Inbox" class="list-group-item">
        <i class="fa fa-inbox font-18 align-middle mr-2"></i> Gelen Kutusu <span class="badge badge-primary badge-sm float-right"></span>
    </a>
    <a href="/GmailMessage/Sendbox" class="list-group-item">
        <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Gönderilmiş Postalar<span class="badge badge-primary badge-sm float-right"></span>
    </a>
    <a href="javascript:void()" class="list-group-item">
        <i class="fa fa-star font-18 align-middle mr-2"></i>Yıldızlı <span class="badge badge-danger text-white badge-sm float-right"></span>
    </a>
    <a href="javascript:void()" class="list-group-item">
        <i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Taslaklar
    </a><a href="javascript:void()" class="list-group-item">
        <i class="fa fa-trash font-18 align-middle mr-2"></i>Çöp Kutusu
    </a>
</div>